.header{
    background-image: url('../developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-left: 23px;
    margin-top: 38px;
    
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
    font-size: 3em;
    font-weight: bold;
    margin-left: 120px;
}
.primary{
    color: #FD6E0A;
}
nav ul li{
    list-style: none ;
    margin-right: 51px;

}
nav ul li a {
    font-size: 20px;
    text-decoration: none;
}
nav ul{
    display: flex;
    padding-right: 100px;
    align-items: center;

}
.dark-2{
    color: #000000;
}
nav h3{
    padding-left: 100px;
}
.btn-primary{
background-color: #FD6E0A;
color: white;
font-weight: 700;
border-radius: 5px;
padding: 18px 20px;
border: none;

}
/* banner style  */
.banner-greeting{
    font-size: 45px;
    font-weight: 600;

}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    
}
.banner-discussion{
    font-size: 18px;
}
.banner-img{
    width: 580px;
    height: 600px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 230px ;

}
.about-title{
font-size: 35px;
color: #181818;
font-weight: bold;
}
.about-discussion{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    text-align: center;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.about-discussions{
    font-weight: 600;
}
.skills{
padding-top: 130px;
}
.text-center{
    text-align: center;
}
.skils-container{
    display: flex;
    gap:24px
                                  

}
.skil{ 
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 46px;
    
}
.resume-container{
    display: flex;
    gap:24px
}
.experience-sub-title{
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    margin-bottom: 20px;
}
.reusme-title{
    text-align: center;
    font-size: 2em;
}
.resume hr{
    margin-top: 30px;
}
 
    .resume-coloum{
        margin-right: 30px;
        
    }
    .div-button{
        margin-top: 50px;
    }
    .foter-title{
        font-weight: bold;
        color: rgba(24, 24, 24, 1);
        font-size: 35px;
    }
footer{
    padding: 130px 230px;
    display: flex;
    margin-top: 113px;
    gap:117px
}
.footer-decription{
    width: 562px;
    height: 56px;
}
.footer-coloum{
    width: 50%;
}
footer input[type="text"],footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.151);
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
input::placeholder{
    font-size:20px;
}
textarea::placeholder{
    font-size: 20px;
}
.address ul {
   list-style-type: none;
}
.address{
position: absolute;
left: 0;
bottom: 0;
}
footer{
    position: relative;
}
.address h2{
    padding-left: 40px;
}
